@use '../abstracts' as abs;

// ------------------------------------
// Paragraph
// ------------------------------------

p.nc-text,
.nc-text p {
  max-width: 100%;

  padding-inline: 0.25em;

  font-family: abs.$font-sans;
  font-size: 1em;
  line-height: 2;
  overflow-wrap: break-word;

  color: var(--nc-text);

  & + p {
    margin-top: 1em;
  }
}

.nc-text-group {
  max-width: 100%;

  margin-block: 2em;

  font-family: abs.$font-sans;
  font-size: 1em;

  color: var(--nc-text);

  p {
    margin-bottom: 0.5em;
    padding-inline: 0.25em;

    font: inherit;
    overflow-wrap: break-word;

    color: inherit;
  }
}

// ------------------------------------
// List
// ------------------------------------

ul.nc-list,
ol.nc-list {
  max-width: 100%;

  padding-left: 1.5em;

  font-family: abs.$font-sans;
  font-size: 0.875em;
  line-height: 1.5;
  overflow-wrap: break-word;

  color: var(--nc-text);

  li {
    font: inherit;

    color: inherit;

    & + li {
      margin-top: 0.5em;
    }
  }

  & ul,
  & ol {
    padding-right: 1em;

    font-size: 1em;

    color: inherit;
  }
}

// ------------------------------------
// Title
// ------------------------------------

$-title-border-color: var(--nc-border);
$-title-bg-color: var(--nc-surface);

@mixin -title-style {
  max-width: 100%;

  margin-top: 1em;

  font-family: abs.$font-sans;
  font-weight: bold;
  line-height: 1.5;
  overflow-wrap: break-word;

  color: var(--nc-text);

  cursor: default;
  user-select: none;
}

.nc-title-1 {
  @include -title-style;

  padding-inline: 1em;

  font-size: 2.5rem;
  text-align: center;
}

.nc-title-2 {
  @include -title-style;

  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-inline: 0.25em;
  border-top: 0.1em solid $-title-border-color;
  border-bottom: 0.1em solid $-title-border-color;

  font-size: 2em;
}

.nc-title-3 {
  @include -title-style;

  margin-bottom: 0.5em;
  padding-top: 0.25em;
  padding-inline: 0.25em;
  border-left: 0.2em solid $-title-border-color;

  font-size: 1.5em;

  box-shadow: 0 0 0.2em var(--nc-shadow);

  @include abs.when-dark {
    background-color: $-title-bg-color;
  }
}

.nc-title-4 {
  @include -title-style;

  margin-bottom: 0.5em;
  padding: 0.2em 1em;

  font-size: 1.25em;

  @include abs.when-dark {
    background-color: $-title-bg-color;
  }
}

.nc-title-5 {
  @include -title-style;

  margin-bottom: 0.5em;
  padding-top: 0.25em;
  padding-inline: 0.25em;
  border-bottom: 0.125em solid $-title-border-color;

  font-size: 1em;
}

.nc-title-6 {
  @include -title-style;

  display: inline-block;

  width: auto;
  max-width: calc(100% - 1em);

  margin-bottom: 0.5em;
  margin-inline: 0.5em;
  padding-top: 0.25em;
  padding-inline: 0.5em;
  border-bottom: 0.2em solid $-title-border-color;

  font-size: 0.875em;
}

// ------------------------------------
// License
// ------------------------------------

p[data-license] {
  max-width: 100%;

  font-family: abs.$font-sans;
  font-size: 0.875em;
  line-height: 1.5;
  overflow-wrap: break-word;

  color: var(--nc-text);
}
