@use 'sass:map';

@function append-units($values, $units, $suffix: '') {
  $result: ();

  @each $unit in $units {
    $name: #{$unit}#{$suffix};
    @each $key, $value in $values {
      $result: map.merge($result, (#{$key}#{$name}: #{$value}#{$name}));
    }
  }

  @return $result;
}
