@use '../../abstracts' as abs;

@mixin gen($class, $property, $name, $value, $important: none) {
  $generate-normal: $important != only;
  $generate-important: $important == only or $important == both;

  @if $generate-normal {
    .#{$class}-#{$name} {
      #{$property}: #{$value};
    }
  }

  $suffix: '-i';
  @if $important == only {
    $suffix: '';
  }

  @if $generate-important {
    .#{$class}-#{$name}#{$suffix} {
      #{$property}: #{$value} !important;
    }
  }
}

@mixin gen-utils($class, $property, $values, $important: none) {
  @each $name, $value in $values {
    @include gen($class, $property, $name, $value, $important);
  }
}

@mixin gen-responsive($class, $property, $values, $important: none) {
  @each $prefix, $breakpoint in abs.$breakpoints {
    @media (min-width: $breakpoint) {
      @each $name, $value in $values {
        @include gen(#{$prefix}-#{$class}, $property, $name, $value, $important);
      }
    }
  }
}

@mixin gen-all($class, $property, $values, $important: none) {
  @include gen-utils($class, $property, $values, $important);

  @include gen-responsive($class, $property, $values, $important);
}
