@use './abstracts' as abs;

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: abs.$font-sans;
  font-size: min(4.5vw, 5vh);

  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  line-height: 1.6;
  overflow-wrap: break-word;

  color: var(--nc-text, #252525);
  background-color: var(--nc-background, #ffffff);
}

// ------------------------------------
// Typography
// ------------------------------------

ul,
ol {
  padding-left: 1.5em;
}

a {
  text-decoration: underline;

  color: inherit;

  & img {
    pointer-events: none;
  }
}

pre {
  overflow-x: auto;

  scrollbar-gutter: stable;
}

// ------------------------------------
// Media
// ------------------------------------

img,
video,
audio,
iframe,
object {
  display: inline-block;

  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  appearance: none;

  border: none;

  font: inherit;

  color: inherit;
  background: none;

  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &:disabled {
    opacity: 0.5;

    cursor: not-allowed;
  }
}

input,
textarea,
select,
button {
  &:focus-visible {
    outline: 0.15em solid var(--nc-focus-ring, #000000);
    outline-offset: 0.1em;
  }
}
